@using BlogProjekt.KlasyPomocnicze
@model BlogProjekt.Models.Blogs
@if (Request.IsAuthenticated)
{
    if (!ObsługaBazyDanych.czyUzytkownikMaFollowNaBlogu(User.Identity.Name, Model.Blog_ID))
    {
        <button type="button" class="btn btn-dark upFollowButton" data-blog-id="@Model.Blog_ID" data-user-name="@User.Identity.Name">Subskrybuj <i class="fas fa-star" style="color:yellow"></i></button>
    }
    else
    {
        <button id="b-delete" type="button" class="btn btn-dark downFollowButton" data-blog-id="@Model.Blog_ID" data-user-name="@User.Identity.Name">Anuluj subskrybcje <i class="fas fa-star" style="color:gray"></i></button>
    }

}

