@model BlogProjekt.Models.Tags

@{

    ViewBag.Title = "StworzTag";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">

    <div class="row">

        <div class="col">
            <p></p>
        </div>



        <div class="col-6">
            <div id="errorMessage">

            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div>
                    <h2>Utwórz tag</h2>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <p>
                        <label>Nazwa tagu</label>

                        @Html.EditorFor(model => model.tagName, new { htmlAttributes = new { @class = "form-control", id = "tagName" } })
                    </p>

                    <p>
                        <input id="submitButton" type="submit" value="Stwórz" class="btn btn-success" onclick="" />
                    </p>
                </div>
            }
        </div>

        <div class="col">
            <p></p>
        </div>
    </div>


</div>



<script>
    $(document).ready(function () {
        $("#submitButton").click(function (e) {
            var isCorrect = true;

            $("#errorMessage").html('');
            if ($("#tagName").val() == '')
            {
                var errorText = $('<div class="error alert alert-danger" role="alert">Pole nazwy nie może być puste!!</div>');
                $("#errorMessage").append(errorText);
                isCorrect = false;
            }

            if (!isCorrect) {
                return false;
            }

        });
    })



</script>




